.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: $bg-md-blue;

	&-form {
		@extend .container-xs;
		
		input
		textarea {
			padding: .5rem;
		}
	}
}
