.intro {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&-container {
		position: relative;
		margin-bottom: 10vh;
		background-color: rgba($white, .85);
		z-index: 1;
	}

	&-content {
		@extend .container-sm;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: $gap-lg;
		padding: $gap-lg;

		@include small {
			padding: $gap 0;
		}
	}

	&-logo {
		flex: 1;
		display: block;
		width: 100%;
		height: auto;
		transform: translateX(-100vw);
		animation: translateRight 1.5s forwards;

		@include small {
			display: none;
		}
	}

	&-copy {
		flex: 2;
		opacity: 0;
		animation: opacity 1.5s forwards .25s;

		h1 {
			font-size: $gap-lg;
			font-weight: 700;
		}
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes translateRight {
	from {
		transform: translateX(-100vw);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes translateDown {
	from {
		transform: translateY(-$gap);
	}

	to {
		transform: translateY(0);
	}
}
