.work {
	padding: $gap-lg 0;
	background-color: $bg-pale-blue;

	@include medium {
		padding: $gap 0;
	}
}

.grid {
	@extend .container;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;

	@include small {
		display: block;
	}

	&-col {
		flex: 1;

		&:first-child {
			.grid-item {
				&:first-child {
					p {
						font-size: 1.1rem;
						color: $blue;
						margin-bottom: $gap;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	&-item {
		padding: $gap-lg;
		transition: background-color 0.3s ease;

		@include medium {
			padding: $gap;
		}

		&:hover {
			background: $white;
		}

		img {
			display: block;
			width: 100%;
			border: 1px solid $border-gray;
		}

		p {
			font-size: 1rem;
			color: $dark-gray;
		}

		a {
			display: block;
			
			> * {
				font-weight: 700;
				line-height: 1.2;
				text-transform: uppercase;
				color: $blue;
			}
		}
	}
}
