.work {
	padding: 2rem 0;
	background-color: $bg-pale-blue;

	@include medium {
		padding: 1rem 0;
	}
}

.grid {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	width: calc(100% - 4rem);
	max-width: 1200px;
	margin: 0 auto 2rem auto;

	@include medium {
		width: calc(100% - 2rem);
	}

	@include small {
		display: block;
	}

	&-col {
		flex: 1;

		&:first-child {
			.grid-item {
				&:first-child {
					p {
						font-size: 1.1rem;
						color: $blue;
						margin-bottom: 1rem;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	&-item {
		padding: 2rem;
		transition: background-color 0.3s ease;

		@include medium {
			padding: 1rem;
		}

		&:hover {
			background: $white;
		}

		img {
			display: block;
			width: 100%;
			border: 1px solid $border-gray;
		}

		p {
			font-size: 1rem;
			color: $text-black;
			margin-top: 0.25rem;
		}

		a {
			> * {
				font-weight: 700;
				line-height: 1.2;
				text-transform: uppercase;
				color: $blue;
				margin-top: 1.5rem;
			}
		}
	}
}
