<section class="work" id="work">
    <div class="work-container">
        {% for card in activeComponent.cardlist %}
            <div class="work-item">
                <img src="{{ card.image }}" alt="{{ alt }}"/> {% markdown %}
                {{ card.body }}
                {% endmarkdown %}
            </div>
        {% endfor %}
    </div>
</section>