<section class="work" id="work">
    <div class="work-container">
        {% for card in activeComponent.work %}
            <div class="work-item">
                {% if card.image %}
                    <img src="{{ card.image }}" alt="{{ card.alt }}"/>
                {% endif %}
                {% markdown %}
                {{ card.body }}
                {% endmarkdown %}
            </div>
        {% endfor %}
    </div>
</section>