<section id="contact" class="contact stack-xl">
    <h2 class="sr-only">Contact</h2>
    <div id="contactForm" class="contact-form stack-lg">
        <div class="stack">
            {% markdown %}
            {{ contact.copy }}
            {% endmarkdown %}
        </div>
        <form id="contact" class="stack-lg" name="contact" method="POST" data-netlify="true">
            <input type="hidden" name="subject" value="Submission"/>
            <input type="hidden" name="redirect" value="thanks.html"/>
            <fieldset class="stack-xs">
                <label for="name">Name:</label>
                <input type="text" name="name" required/>
            </fieldset>
            <fieldset class="stack-xs">
                <label for="email">E-mail:</label>
                <input type="email" name="email" required pattern="^\S+@\S+\.\S+$"/>
            </fieldset>
            <fieldset class="stack-xs">
                <label for="msg">Message:</label>
                <textarea name="msg" required></textarea>
            </fieldset>
            <button class="btn" type="submit">Send Your Message</button>
        </form>
    </div>
    {% include "components/footer.njk" %}
</section>
