<footer class="footer">
    <p>&copy;2014–<script>
            document.write(new Date().getFullYear())
        </script>
        Jennifer Dominiak. Site designed and developed by
        <a href="https://angelahanshaw.com/" target="_blank" rel="noopener noreferrer">Angela Hanshaw</a>. Marina City image by Jennifer Dominiak.</p>
</footer>