<header class="header">
    <nav>
        <ul class="header__nav">
            <li class="header__link">
                <a class="current" href="#intro">Home</a>
            </li>
            <li class="header__link">
                <a href="#work">Work</a>
            </li>
            <li class="header__link">
                <a href="#contact">Contact</a>
            </li>
            <li class="header__link external">
                <a href="https://www.etsy.com/shop/FlyingPinwheel" target="_blank">Etsy Store</a>
            </li>
        </ul>
    </nav>
</header>