<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="{{ intro.logo }}" alt="logo"/>
        </div>
        <nav class="header-nav">
            <ul class="header-links">
                <li class="header-link">
                    <a class="current link" href="#intro">Home</a>
                </li>
                <li class="header-link">
                    <a class="link" href="#work">Work</a>
                </li>
                <li class="header-link">
                    <a class="link" href="#contact">Contact</a>
                </li>
                <li class="header-link">
                    <a class="external-link" href="https://www.etsy.com/shop/FlyingPinwheel" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-external-link" viewbox="0 0 24 24"><path d="M5 3c-1.093 0-2 .907-2 2v14c0 1.093.907 2 2 2h14c1.093 0 2-.907 2-2v-7h-2v7H5V5h7V3H5zm9 0v2h3.586l-9.293 9.293 1.414
                            1.414L19 6.414V10h2V3h-7z"/>
                        </svg>Etsy Store</a>
                </li>
            </ul>
        </nav>
    </div>
</header>