// colors
$white: #fff;
$dark-gray: #444;
$blue: #365e9b;
$bg-blue: #5194db;
$bg-pale-blue: rgba($bg-blue, 0.1);
$bg-md-blue: rgba($bg-blue, 0.4);
$border-gray: #e1e1e1;

// spacing 
$gap-xl: 4rem;
$gap-lg: 2rem;
$gap: 1rem;
$gap-sm: .5rem;
$gap-xs: .25rem;

// misc
$nav-height: 3rem;
