.container {
	width: calc(100% - #{$gap-xl});
	max-width: 75rem;
	margin-inline: auto;

	@include medium {
		width: calc(100% - #{$gap-lg});
	}
}

.container-sm {
	width: calc(100% - #{$gap-xl});
	max-width: 56rem;
	margin-inline: auto;

	@include medium {
		width: calc(100% - #{$gap-lg});
	}
}

.container-xs {
	width: calc(100% - #{$gap-xl});
	max-width: 40rem;
	margin-inline: auto;

	@include medium {
		width: calc(100% - #{$gap-lg});
	}
}